<!DOCTYPE html>
<html>

  <head>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <title>Project3</title>
  </head>
  <body>
    <div class="navbar navbar-dark bg-dark shadow-sm">
      <div class="container">
        <a href="#" class="navbar-brand d-flex align-items-center">
          <strong>Project3</strong>
        </a>
      </div>
    </div>
    <section class="py-5 text-center container">
      <!-- <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto"> -->

          <h2 class="fw-light">검색 url</h2>
          <br>
          /YYYY/Q/시장종류/시장명/업종수/점포수/생활인구/직장인구/아파트단지수/아파트평균시가
          <br>
          <br>
          <br>
          <h3 class="fw-light">시장 종류</h3>
          <br>
          -골목상권
          <br>
          - 관광특구
          <br>
          - 발달상권
          <br>
          - 전통시장
          <br>
          <br>
          <br>
          <h3 class="fw-light">상권명</h3>
            아래 상권명 리스트 중 검색해야 합니다.
            <br>
            Ctrl F 키로 원하는 상권명이 있는지검색하세요.
            <br>
            <br>
            {% if name_list %}
              {% for name in name_list %}
              <p>- {{ name[0] }}</p>
              {% endfor %}
            {% endif %}
        <!-- </div>
      </div> -->
    </section>
  </body>
</html>

